*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 80vh;
}
.header{
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: aquamarine;
}
.header h1{
    font-weight: bold;
    font-size: 2em;
    font-family:  Georgia;
    font-style: italic;
}
.main{
    display:grid;
    min-height: 50%;
    width: 100%;
    align-items: center;
    grid-template-areas: "formulario"
                           "resultado";

}
.formulario{
    height: 45%;
    width: 100%;
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario__input_in {
    color: black;
    padding: 1em;
    width: 40%;
    font-size: 15px;
    font-weight: bold;
}
.resultado{
    height: 45%;
    grid-area: resultado;
    display: flex;
    justify-content: center;
}
.resultado span:nth-child(n){
    font-size: 25px;
}